isNewTemplate: true

image:
    name: "image"
    description: "Image Info"
    type: "string"
    required: true
    variables:
      mycatImage:
        name: "mycatImage"
        label: "mycat image"
        description: "The image of mycat"
        required: true
        value: "registry.harbor:5000/sky-firmament/mycat:1.6-RELEASE-alpine"
        type: "string"
      policyType:
        name: "policyType"
        label: "policy type"
        description: "The type of image pull policy"
        required: true
        value: "IfNotPresent"
        type: "string"

service:
    name: "service"
    description: "Service Info"
    type: "string"
    required: true
    variables:
      type:
        name: "serviceType"
        label: "service type"
        description: "The type of service"
        required: true
        value: "NodePort"
        type: "string"
      externalPort:
        name: "externalPort"
        label: "external port"
        description: "The port of external"
        required: true
        value: "9066"
        type: "string"
      nodePort:
        name: "nodePort"
        label: "node port"
        description: "Node port"
        required: false
        value: ""
        type: "string"

jvm:
    name: "jvm"
    description: "Jvm Config(Make sure the max heap size is smaller than the container request size by about 100M)"
    type: "string"
    required: true
    variables:
      maxHeap:
        name: "maxJavaHeapSize"
        label: "max java heap size"
        description: "Max java heap size"
        required: true
        value: "-Xmx512m"
        type: "string"
      minHeap:
        name: "minJavaHeapSize"
        label: "min java heap size"
        description: "Min java heap size"
        required: true
        value: "-Xms512m"
        type: "string"
      stack:
        name: "javaStackSize"
        label: "java stack size"
        description: "Java stack size"
        required: true
        value: "-Xss256k"
        type: "string"
      direct:
        name: "directSize"
        label: "java direct size"
        description: "Java direct size(DO NOT CHANGE THIS)"
        required: true
        value: "-XX:MaxDirectMemorySize=2G"
        type: "string"

resources:
    name: "resource info"
    description: "Resource Info"
    type: "string"
    required: true
    variables:
      cpuRequest:
        name: "cpuRequest"
        label: "cpu(m)"
        description: "CPU, in cores. (500m = 0.5 cores)"
        required: true
        value: 250
        type: "int"
      memoryRequest:
        name: "memoryRequest"
        label: "memory(MB)"
        description: "Memory, in MB. (1GB = 1024 MB)"
        required: true
        value: 600
        type: "int"

config:
   name: "config"
   description: "Solr custom config"
   type: "text"
   required: true
   variables:
     schema: 
       name: "schema"
       label: "schema"
       description: "schema.xml(related to $mycat-home/conf/schema.xml)"
       required: true
       type: "string"
       value: |-
         <?xml version="1.0"?>
         <!DOCTYPE mycat:schema SYSTEM "schema.dtd">
         <mycat:schema xmlns:mycat="http://io.mycat/">
         
         	<schema name="TESTDB" checkSQLschema="false" sqlMaxLimit="100">
         		<!-- auto sharding by id (long) -->
         		<table name="travelrecord" dataNode="dn1,dn2,dn3" rule="auto-sharding-long" />
         
         		<!-- global table is auto cloned to all defined data nodes ,so can join
         			with any table whose sharding node is in the same data node -->
         		<table name="company" primaryKey="ID" type="global" dataNode="dn1,dn2,dn3" />
         		<table name="goods" primaryKey="ID" type="global" dataNode="dn1,dn2" />
         		<!-- random sharding using mod sharind rule -->
         		<table name="hotnews" primaryKey="ID" autoIncrement="true" dataNode="dn1,dn2,dn3"
         			   rule="mod-long" />
         		<!-- <table name="dual" primaryKey="ID" dataNode="dnx,dnoracle2" type="global"
         			needAddLimit="false"/> <table name="worker" primaryKey="ID" dataNode="jdbc_dn1,jdbc_dn2,jdbc_dn3"
         			rule="mod-long" /> -->
         		<table name="employee" primaryKey="ID" dataNode="dn1,dn2"
         			   rule="sharding-by-intfile" />
         		<table name="customer" primaryKey="ID" dataNode="dn1,dn2"
         			   rule="sharding-by-intfile">
         			<childTable name="orders" primaryKey="ID" joinKey="customer_id"
         						parentKey="id">
         				<childTable name="order_items" joinKey="order_id"
         							parentKey="id" />
         			</childTable>
         			<childTable name="customer_addr" primaryKey="ID" joinKey="customer_id"
         						parentKey="id" />
         		</table>
         		<!-- <table name="oc_call" primaryKey="ID" dataNode="dn1$0-743" rule="latest-month-calldate"
         			/> -->
         	</schema>
         	<!-- <dataNode name="dn1$0-743" dataHost="localhost1" database="db$0-743"
         		/> -->
         	<dataNode name="dn1" dataHost="localhost1" database="db1" />
         	<dataNode name="dn2" dataHost="localhost1" database="db2" />
         	<dataNode name="dn3" dataHost="localhost1" database="db3" />
         	<!--<dataNode name="dn4" dataHost="sequoiadb1" database="SAMPLE" />
         	 <dataNode name="jdbc_dn1" dataHost="jdbchost" database="db1" />
         	<dataNode	name="jdbc_dn2" dataHost="jdbchost" database="db2" />
         	<dataNode name="jdbc_dn3" 	dataHost="jdbchost" database="db3" /> -->
         	<dataHost name="localhost1" maxCon="1000" minCon="10" balance="0"
         			  writeType="0" dbType="mysql" dbDriver="native" switchType="1"  slaveThreshold="100">
         		<heartbeat>select user()</heartbeat>
         		<!-- can have multi write hosts -->
         		<writeHost host="hostM1" url="localhost:3306" user="root"
         				   password="123456">
         			<!-- can have multi read hosts -->
         			<readHost host="hostS2" url="192.168.1.200:3306" user="root" password="xxx" />
         		</writeHost>
         		<writeHost host="hostS1" url="localhost:3316" user="root"
         				   password="123456" />
         		<!-- <writeHost host="hostM2" url="localhost:3316" user="root" password="123456"/> -->
         	</dataHost>
         	<!--
         		<dataHost name="sequoiadb1" maxCon="1000" minCon="1" balance="0" dbType="sequoiadb" dbDriver="jdbc">
         		<heartbeat> 		</heartbeat>
         		 <writeHost host="hostM1" url="sequoiadb://1426587161.dbaas.sequoialab.net:11920/SAMPLE" user="jifeng" 	password="jifeng"></writeHost>
         		 </dataHost>
         
         	  <dataHost name="oracle1" maxCon="1000" minCon="1" balance="0" writeType="0" 	dbType="oracle" dbDriver="jdbc"> <heartbeat>select 1 from dual</heartbeat>
         		<connectionInitSql>alter session set nls_date_format='yyyy-mm-dd hh24:mi:ss'</connectionInitSql>
         		<writeHost host="hostM1" url="jdbc:oracle:thin:@127.0.0.1:1521:nange" user="base" 	password="123456" > </writeHost> </dataHost>
         
         		<dataHost name="jdbchost" maxCon="1000" 	minCon="1" balance="0" writeType="0" dbType="mongodb" dbDriver="jdbc">
         		<heartbeat>select 	user()</heartbeat>
         		<writeHost host="hostM" url="mongodb://192.168.0.99/test" user="admin" password="123456" ></writeHost> </dataHost>
         
         		<dataHost name="sparksql" maxCon="1000" minCon="1" balance="0" dbType="spark" dbDriver="jdbc">
         		<heartbeat> </heartbeat>
         		 <writeHost host="hostM1" url="jdbc:hive2://feng01:10000" user="jifeng" 	password="jifeng"></writeHost> </dataHost> -->
         
         	<!-- <dataHost name="jdbchost" maxCon="1000" minCon="10" balance="0" dbType="mysql"
         		dbDriver="jdbc"> <heartbeat>select user()</heartbeat> <writeHost host="hostM1"
         		url="jdbc:mysql://localhost:3306" user="root" password="123456"> </writeHost>
         		</dataHost> -->
         </mycat:schema>
     rule:
       name: "rule"
       label: "rule"
       description: "rule.xml(related to $mycat-home/conf/rule.xml)"
       required: true
       type: "string"
       value: |-
         <?xml version="1.0" encoding="UTF-8"?>
         <!-- - - Licensed under the Apache License, Version 2.0 (the "License"); 
         	- you may not use this file except in compliance with the License. - You 
         	may obtain a copy of the License at - - http://www.apache.org/licenses/LICENSE-2.0 
         	- - Unless required by applicable law or agreed to in writing, software - 
         	distributed under the License is distributed on an "AS IS" BASIS, - WITHOUT 
         	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. - See the 
         	License for the specific language governing permissions and - limitations 
         	under the License. -->
         <!DOCTYPE mycat:rule SYSTEM "rule.dtd">
         <mycat:rule xmlns:mycat="http://io.mycat/">
         	<tableRule name="rule1">
         		<rule>
         			<columns>id</columns>
         			<algorithm>func1</algorithm>
         		</rule>
         	</tableRule>
         
         	<tableRule name="rule2">
         		<rule>
         			<columns>user_id</columns>
         			<algorithm>func1</algorithm>
         		</rule>
         	</tableRule>
         
         	<tableRule name="sharding-by-intfile">
         		<rule>
         			<columns>sharding_id</columns>
         			<algorithm>hash-int</algorithm>
         		</rule>
         	</tableRule>
         	<tableRule name="auto-sharding-long">
         		<rule>
         			<columns>id</columns>
         			<algorithm>rang-long</algorithm>
         		</rule>
         	</tableRule>
         	<tableRule name="mod-long">
         		<rule>
         			<columns>id</columns>
         			<algorithm>mod-long</algorithm>
         		</rule>
         	</tableRule>
         	<tableRule name="sharding-by-murmur">
         		<rule>
         			<columns>id</columns>
         			<algorithm>murmur</algorithm>
         		</rule>
         	</tableRule>
         	<tableRule name="crc32slot">
         		<rule>
         			<columns>id</columns>
         			<algorithm>crc32slot</algorithm>
         		</rule>
         	</tableRule>
         	<tableRule name="sharding-by-month">
         		<rule>
         			<columns>create_time</columns>
         			<algorithm>partbymonth</algorithm>
         		</rule>
         	</tableRule>
         	<tableRule name="latest-month-calldate">
         		<rule>
         			<columns>calldate</columns>
         			<algorithm>latestMonth</algorithm>
         		</rule>
         	</tableRule>
         	
         	<tableRule name="auto-sharding-rang-mod">
         		<rule>
         			<columns>id</columns>
         			<algorithm>rang-mod</algorithm>
         		</rule>
         	</tableRule>
         	
         	<tableRule name="jch">
         		<rule>
         			<columns>id</columns>
         			<algorithm>jump-consistent-hash</algorithm>
         		</rule>
         	</tableRule>
         
         	<function name="murmur"
         		class="io.mycat.route.function.PartitionByMurmurHash">
         		<property name="seed">0</property>
         		<property name="count">2</property>
         		<property name="virtualBucketTimes">160</property>
         		<!-- <property name="weightMapFile">weightMapFile</property> -->
         		<!-- <property name="bucketMapPath">/etc/mycat/bucketMapPath</property> -->
         	</function>
         
         	<function name="crc32slot"
         			  class="io.mycat.route.function.PartitionByCRC32PreSlot">
         		<property name="count">2</property>
         	</function>
         	<function name="hash-int"
         		class="io.mycat.route.function.PartitionByFileMap">
         		<property name="mapFile">partition-hash-int.txt</property>
         	</function>
         	<function name="rang-long"
         		class="io.mycat.route.function.AutoPartitionByLong">
         		<property name="mapFile">autopartition-long.txt</property>
         	</function>
         	<function name="mod-long" class="io.mycat.route.function.PartitionByMod">
         		<!-- how many data nodes -->
         		<property name="count">3</property>
         	</function>
         
         	<function name="func1" class="io.mycat.route.function.PartitionByLong">
         		<property name="partitionCount">8</property>
         		<property name="partitionLength">128</property>
         	</function>
         	<function name="latestMonth"
         		class="io.mycat.route.function.LatestMonthPartion">
         		<property name="splitOneDay">24</property>
         	</function>
         	<function name="partbymonth"
         		class="io.mycat.route.function.PartitionByMonth">
         		<property name="dateFormat">yyyy-MM-dd</property>
         		<property name="sBeginDate">2015-01-01</property>
         	</function>
         	
         	<function name="rang-mod" class="io.mycat.route.function.PartitionByRangeMod">
                 	<property name="mapFile">partition-range-mod.txt</property>
         	</function>
         	
         	<function name="jump-consistent-hash" class="io.mycat.route.function.PartitionByJumpConsistentHash">
         		<property name="totalBuckets">3</property>
         	</function>
         </mycat:rule>
     server:
       name: "server"
       label: "server"
       description: "server.xml(related to $mycat-home/conf/server.xml)"
       required: true
       type: "string"
       value: |-
         <?xml version="1.0" encoding="UTF-8"?>
         <!-- - - Licensed under the Apache License, Version 2.0 (the "License"); 
         	- you may not use this file except in compliance with the License. - You 
         	may obtain a copy of the License at - - http://www.apache.org/licenses/LICENSE-2.0 
         	- - Unless required by applicable law or agreed to in writing, software - 
         	distributed under the License is distributed on an "AS IS" BASIS, - WITHOUT 
         	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. - See the 
         	License for the specific language governing permissions and - limitations 
         	under the License. -->
         <!DOCTYPE mycat:server SYSTEM "server.dtd">
         <mycat:server xmlns:mycat="http://io.mycat/">
         	<system>
         	<property name="useSqlStat">0</property>  
         	<property name="useGlobleTableCheck">0</property> 
         
         		<property name="sequnceHandlerType">2</property>
               <!--  <property name="useCompression">1</property>--> 
                 <!--  <property name="fakeMySQLVersion">5.6.20</property>--> 
         	<!-- <property name="processorBufferChunk">40960</property> -->
         	<!-- 
         	<property name="processors">1</property> 
         	<property name="processorExecutor">32</property> 
         	 -->
         		<property name="processorBufferPoolType">0</property>
         		<!--<property name="maxStringLiteralLength">65535</property>-->
         		<!--<property name="sequnceHandlerType">0</property>-->
         		<!--<property name="backSocketNoDelay">1</property>-->
         		<!--<property name="frontSocketNoDelay">1</property>-->
         		<!--<property name="processorExecutor">16</property>-->
         		<!--
         			<property name="serverPort">8066</property> <property name="managerPort">9066</property> 
         			<property name="idleTimeout">300000</property> <property name="bindIp">0.0.0.0</property> 
         			<property name="frontWriteQueueSize">4096</property> <property name="processors">32</property> -->
         		<property name="handleDistributedTransactions">0</property>
         		
         		<property name="useOffHeapForMerge">1</property>
         
         		<property name="memoryPageSize">1m</property>
         
         		<property name="spillsFileBufferSize">1k</property>
         
         		<property name="useStreamOutput">0</property>
         
         		<property name="systemReserveMemorySize">384m</property>
         
         		<property name="useZKSwitch">true</property>
         
         
         	</system>
         	
         	<!-- 
         	<firewall> 
         	   <whitehost>
         	      <host host="127.0.0.1" user="mycat"/>
         	      <host host="127.0.0.2" user="mycat"/>
         	   </whitehost>
                <blacklist check="false">
                </blacklist>
         	</firewall>
         	-->
         	
         	<user name="root">
         		<property name="password">123456</property>
         		<property name="schemas">TESTDB</property>
         		
         		<!-- 		
         		<privileges check="false">
         			<schema name="TESTDB" dml="0110" >
         				<table name="tb01" dml="0000"></table>
         				<table name="tb02" dml="1111"></table>
         			</schema>
         		</privileges>		
         		 -->
         	</user>
         
         	<user name="user">
         		<property name="password">user</property>
         		<property name="schemas">TESTDB</property>
         		<property name="readOnly">true</property>
         	</user>
         
         </mycat:server>
