apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    app: {{ template "fullname" . }}
spec:
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.variables.solrImage.value }}"
        imagePullPolicy: {{ .Values.image.variables.policyType.value | quote }}
        ports:
        - containerPort: 8983
        env:
        - name: SOLR_JAVA_MEM
          value: "{{ .Values.jvm.variables.heap.value }}"
        - name: SOLR_JAVA_STACK_SIZE
          value: "{{ .Values.jvm.variables.stack.value }}"
        livenessProbe:
          httpGet:
            path: /
            port: 8983
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /
            port: 8983
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
        resources:
          requests:
             cpu: {{ .Values.resources.variables.cpuRequest.value }}m
             memory: {{ .Values.resources.variables.memoryRequest.value }}Mi
        volumeMounts:
        - name: data
       {{- if .Values.persistence.enabled }}
          mountPath: {{ .Values.persistence.variables.mountPath.value }}
       {{- else }}
          mountPath: /data
       {{- end }}
        - name: config
          mountPath: /opt/tmp/
      volumes:
      - name: config
        configMap:
          name: {{ template "fullname" . }}
      - name: data
      {{- if .Values.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ template "fullname" . }}
      {{- else }}
        emptyDir: {}
      {{- end -}}
