apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.service.variables.type.value }}
  ports:
  - port: {{ .Values.service.externalPort }}
    targetPort: 8983
    protocol: TCP
    name: api
  {{- if ( and (eq .Values.service.variables.type.value "NodePort") (.Values.service.variables.nodePort.value) ) }}
    nodePort: {{ .Values.service.variables.nodePort.value }}
  {{- end }}
  selector:
    app: {{ template "fullname" . }}
    release: {{ .Release.Name }}
