apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    app: {{ template "fullname" . }}
spec:
  serviceName: {{ .Release.Name }}-discovery
{{- if .Values.cluster.enabled }}
  replicas: {{ .Values.cluster.variables.replica.value }}
{{- end }}
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.variables.solrImage.value }}"
        imagePullPolicy: {{ .Values.image.variables.policyType.value | quote }}
        ports:
        - containerPort: 8983
        env:
        - name: SOLR_JAVA_MEM
          value: "{{ .Values.jvm.variables.heap.value }}"
        - name: SOLR_JAVA_STACK_SIZE
          value: "{{ .Values.jvm.variables.stack.value }}"
      {{- if (add (.Values.cluster.enabled) (.Values.cluster.variables.zk.value)) }}
        - name: ZK_HOST
          value: "{{ .Values.cluster.variables.zk.value }}"
        - name: CLUSTER_HOST
          value: {{ .Release.Name }}-discovery
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      {{- end }}
        livenessProbe:
          httpGet:
            path: /
            port: 8983
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /
            port: 8983
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
        resources:
          requests:
             cpu: {{ .Values.resources.variables.cpuRequest.value }}m
             memory: {{ .Values.resources.variables.memoryRequest.value }}Mi
        volumeMounts:
        - name: data
          {{- if .Values.persistence.enabled }}
          mountPath: {{ .Values.persistence.variables.mountPath.value }}
          {{- else }}
          mountPath: /data
          {{- end }}
        - name: config
          mountPath: /opt/solr/server/solr/configsets/_default/conf/solrconfig.xml
          subPath: solrconfig.xml
        - name: config
          mountPath: /opt/solr/server/solr/configsets/_default/conf/managed-schema
          subPath: managed-schema
      volumes:
      - name: config
        configMap:
          name: {{ template "fullname" . }}
          defaultMode: 0777
      {{ if not .Values.persistence.enabled -}}
      - name: data
        emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
  - metadata:
      name: data
      labels:
        app: {{ template "fullname" . }}
        chart: {{ .Chart.Name }}-{{ .Chart.Version }}
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
      accessModes:
        - {{ .Values.persistence.variables.accessMode.value | quote }}
      resources:
          requests:
            storage: {{ .Values.persistence.variables.size.value }}Gi
    {{- if .Values.persistence.variables.storageClass.value }}
    {{- if (eq "-" .Values.persistence.variables.storageClass.value ) }}
      storageClassName: ""
    {{- else }}
      storageClassName: "{{ .Values.persistence.variables.storageClass.value }}"
    {{- end }}
    {{- end }}
  {{- end }}
