# Default values for vote-redis.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: docker.io/rivernet/redis
  tag: 3.0
  pullPolicy: IfNotPresent
service:
  name: vote-redis
  type: ClusterIP
  externalPort: 6379
  internalPort: 6379
resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 1000m
    memory: 1024Mi

