isNewTemplate: true

image:
    name: "image"
    description: "Image Info"
    type: "string"
    required: true
    variables:
      image:
        name: "image"
        label: "image"
        description: "The image of rabbitmq"
        required: true
        value: "registry.harbor:5000/sky-firmament/elasticsearch:5.6.4"
        type: "string"
      policyType:
        name: "policyType"
        label: "policy type"
        description: "The type of image pull policy"
        required: true
        value: "IfNotPresent"
        type: "string"

service:
    name: "service"
    description: "Service Info"
    type: "string"
    required: true
    variables:
      type:
        name: "serviceType"
        label: "service type"
        description: "The type of service"
        required: true
        value: "NodePort"
        selectValue: ["NodePort", "ClusterIP", "LoadBalancer"]
        type: "selectbox"
      port:
        name: "port"
        label: "port"
        description: "The port of service"
        required: true
        value: "9200"
        type: "string"
      nodePort:
        name: "nodePort"
        label: "node port"
        description: "Node Port"
        required: false
        value: ""
        type: "string"

cluster:
    name: "cluster"
    description: "Cluster Config"
    type: "string"
    reuqired: true
    variables:
      replica:
        name: "replicaCount"
        label: "replica count"
        description: "Replica count"
        required: true
        value: 3
        type: "int"
      clustername:
        name: "clustername"
        label: "cluster name"
        description: "Cluster Name"
        required: true
        value: "mycluster"
        type: "string"

jvm:
    name: "jvm"
    description: "Jvm Config(Make sure the max heap size is smaller than the container request size by about 100M)"
    type: "string"
    required: true
    variables:
      opts:
        name: "javaOpts"
        label: "java opts"
        description: "Java Opts"
        required: true
        value: "-Xms512m -Xmx512m"
        type: "string"

resources:
    name: "resource info"
    description: "Resource Info"
    type: "string"
    required: true
    variables:
      cpuRequest:
        name: "cpuRequest"
        label: "cpu(m)"
        description: "CPU, in cores. (500m = 0.5 cores)"
        required: true
        value: 250
        type: "int"
      memoryRequest:
        name: "memoryRequest"
        label: "memory(MB)"
        description: "Memory, in MB. (1GB = 1024 MB)"
        required: true
        value: 600
        type: "int"

persistence:
    name: "storage"
    description: "Persistent Storage"
    type: "checkbox"
    required: true
    enabled: false
    variables:
      accessMode:
        name: "accessMode"
        label: "access mode"
        description: "The mode of access"
        required: true
        value: "ReadWriteOnce"
        type: "string"
      size:
        name: "sizeRequest"
        label: "storage(GB)"
        description: "Storage, in GB. (1GB = 1024 MB)"
        required: true
        value: 1
        type: "int"
      storageClass:
        name: "storageClass"
        label: "storage class"
        description: "StorageClass"
        required: false
        value: ""
        type: string
      type:
        name: "volumeType"
        label: "volume type"
        description: "The type of volume"
        required: true
        value: "Normal"
        selectValue: ["Normal", "Fast"]
        type: "selectbox"
