## See https://github.com/tensorflow/serving for more information on implementation

isNewTemplate: true

persistence:
    name: "storage"
    description: "Persistent Storage"
    type: "string"
    required: true
    variables:
      pvc:
        name: "pvc"
        label: "PVC name"
        description: "The name of the pvc"
        required: true
        value: ""
        type: "string"
      mountPath:
        name: "mountPath"
        label: "mount path"
        description: "The path within the container at which the volume should be mounted"
        required: true
        value: ""
        type: "string"
      modelName:
        name: "modelName"
        label: "model name"
        description: "The name of the model"
        required: true
        value: ""
        type: "string"
      modelDir:
        name: "modelDir"
        label: "model dir"
        description: "The path to the model"
        required: true
        value: ""
        type: "string"
        
serving:
    name: "serving"
    description: "serving config"
    type: "string"
    required: true
    variables:
      replicaCount:
        name: "replicaCount"
        label: "replicaCount"
        description: "The replica number of serving instance"
        required: true
        value: 1
        type: "int"
      image:
        name: "image"
        label: "image"
        description: "The image of serving instance"
        required: true
        value: "registry.harbor:5000/sky-firmament/tensorflow-serving:4.1"
        type: "string"
      cpuRequest:
        name: "cpuRequest"
        label: "cpu(m)"
        description: "CPU, in cores. (500m = 0.5 cores)"
        required: true
        value: 100
        type: "int"
      memoryRequest:
        name: "memoryRequest"
        label: "memory(MB)"
        description: "Memory, in MB. (1GB = 1024 MB)"
        required: true
        value: 512
        type: "int"

hpa:
    name: "HPA"
    description: "Horizonal Pod Autoscaler for serving"
    type: "checkbox"
    required: false
    enabled: false
    variables:
      minReplicas:
        name: "minReplicas"
        label: "minReplicas"
        description: "The mininum replica number of serving instances"
        required: true
        value: 1
        type: "int"
      maxReplicas:
        name: "maxReplicas"
        label: "maxReplicas"
        description: "The maximum replica number of serving instances"
        required: true
        value: 2
        type: "int"
      metricName:
        name: "metricName"
        label: "metricName"
        description: "Autoscaling based on custom metrics (e.g., nvidia_utilization_gpu, nvidia_utilization_memory)"
        required: true
        value: "nvidia_utilization_gpu"
        type: "string"
      targetValue:
        name: "targetValue"
        label: "targetValue"
        description: "Target value to determine the replica count"
        required: true
        value: "50"
        type: "string"
