isNewTemplate: true

replicas:
   name: "replicas"
   description: "Replicas Config"
   type: "string"
   required: true
   variables:
     numberOfMaster:
       name: "numberOfMaster"
       label: "number of master"
       description: "Number of master"
       required: true
       value: 3
       type: int
     replicationFactor:
       name: "replicationFactor"
       label: "replication factor"
       description: "Replication factor"
       required: true
       value: 1
       type: int

image:
   name: "image"
   description: "Image Info"
   type: "string"
   required: true
   variables:
     image:
       name: "image"
       label: "image"
       description: "The image of app"
       required: true
       value: "registry.harbor:5000/sky-firmament/redisnode"
       type: "string"    
     policyType:
       name: "policyType"
       label: "policy type"
       description: "The type of image pull policy"
       required: true
       value: "IfNotPresent"
       type: "string"

service:
    name: "service"
    description: "Service Info"
    type: "string"
    required: true
    variables:
      type:
        name: "serviceType"
        label: "service type"
        description: "The type of service"
        required: true
        value: "NodePort"
        selectValue: ["NodePort", "ClusterIP", "LoadBalancer"]
        type: "selectbox"
      port:
        name: "port"
        label: "port"
        description: "The port of external"
        required: true
        value: "6379"
        type: "string"
      nodePort:
        name: "nodePort"
        label: "node port"
        description: "Node port"
        required: false
        value: ""
        type: "string"

resources:
   name: "reosurce info"
   description: "Reosurce Info"
   type: "string"
   required: true
   variables:
     cpuRequest:
       name: "cpuRequest"
       label: "cpu(m)"
       description: "CPU, in cores. (500m = 0.5 cores)"
       required: true
       value: 100
       type: "int"
     memoryRequest:
       name: "memoryRequest"
       label: "memory(MB)"
       description: "Memory, in MB. (1GB = 1024 MB)"
       required: true
       value: 256
       type: "int"

persistence:
   name: "storage"
   description: "Persistent Storage"
   type: "checkbox"
   required: false
   enabled: false
   variables:
     storagePool:
       name: "storagePool"
       label: "storagePool"
       description: "storage pool for volume, use default pool if value is null"
       required: false
       value: ""
       type: "string"
     size:
       name: "sizeRequest"
       label: "storage(GB)"
       description: "Storage, in GB. (1GB = 1024 MB)"
       required: true
       value: 1
       type: "int"
